html {
	background-color: gray;
}

body{
	font-family: Times, "Times New Roman", serif; 
	font-size: 16px;
	line-height: 20px;
	text-align: justify;
	color: black;
	margin: 0px;
	max-width: 794px; /* A4 96 dpi */
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: min(9%,72px);
	padding-right: min(12%,96px);
	background-color: white;
/*
	background-size: 12px 12px;
    background-image:
    linear-gradient(to right, #ccf 1px, transparent 1px),
    linear-gradient(to bottom, #ccf 1px, white 1px);
*/	
}

header {
	padding: 0px;
	font-size: 16px;
}

h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3 {
	font-weight: bold;
	font-size: 20px;
	line-height: 36px;
	margin-top: 20px;
	margin-bottom: 0px;
}

h4 {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 0px;
}

button {
    margin-left: 4px;
    border: none;
	background-color: white;
	color: black;
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
}

button:hover {
	background-color: black;
	color: white;
}

code {
	display: block;
	text-align: left;
}

textarea:focus {
	outline: 3px solid -moz-mac-focusring;
	outline: 3px solid -webkit-focus-ring-color;
}

textarea:read-only {
	outline: none;
}

.error {
	color:red;
	transition:.5s;
	font-size: 16px;
	overflow: auto;
	margin: 15px;
}

table {
	margin:auto;
	border:1px solid black;
 	border-collapse:collapse;
 	margin-bottom:10px;
 	width: max-content;
}

th, td {
	border:1px solid #777;
	padding: 4px;
	font-size: 16px;
	line-height: 20px;
	word-break: break-all;
	width: max-content;
}

th {
	font-weight: normal;
}

td { 
	border-top: none;
	border-bottom: none;
}

caption {
	border:1px solid black;
	border-bottom: none;
}

tbody {
	border:1px solid black;
}

table {
	border:1px solid black;
} 

footer {
	margin-top: 48px;
	font-size: 13px;
	color: #222;
}

#header {
	text-align: right;
	margin-bottom: 12px;
}

#header button {
	display: inline
}

.cell {
	width: 100%;
}

.cellheader {
	text-align: right;
	width: 100%;
}

.cellsource {
	font-family: Courier, "Courier New", monospace;
	font-size: 16px;
	border: none;
    background-color: transparent;
    /* resize: none; */
    outline: none;
    width: 100%;
	margin-bottom: 12px;
	padding: 4px;
	line-height: 20px;
	display: none;
	max-height: 50vh;
}

.cellbak {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
	color: gray;
    width: 100%;
	display: none;
}

.celloutput {
	margin-bottom: 12px;
	margin-top: 12px;
	width: 100%;
}

.fulloutput {
	display: none;
}


div.cell.data ul {
  display: table;
}

div.cell.data li {
  display: table-row;
  color: black;
}

div.cell.data label, input {
  display: table-cell;
  margin-right: 12px;
  margin-bottom: 12px;
}

span.radiovalue {
	margin-right: 12px;
}


button.wiki { display : none; }
button.sql { display : none; }
button.data { display : none; }
button.js { display : none; }
button.ps { display : none;}
button.edit { display : none; }
button.cancel { display : none; }
button.save { display : none;}
button.up { display : none;}
button.down { display : none;}
button.delete { display : none;}
button.import { display : none;}
button.dup { display : none;}
button.new { display : none; }
button.run { display : none; }
button.rundown { display : none; }
button.fullscreenclose { display : none; }
button.fullscreenprevious { display : none; }
button.fullscreennext { display : none; }
div.menu button.run { display: inline }
div.menu button.rundown { display: inline }
div.edit button.run { display: inline }
div.edit button.rundown { display: inline }
div.edit button.wiki { display: inline }
div.edit button.sql { display: inline }
div.edit button.data { display: inline }
div.edit button.js { display: inline }
div.edit button.ps { display: inline }
div.menu button.new { display: inline }
div.menu button.dup { display: inline }
div.edit button.import { display : inline;}
div.menu button.edit { display: inline }
div.edit button.edit { display: none }
div.edit button.cancel { display: inline }
div.edit button.save { display: inline }
div.menu button.up { display: inline }
div.menu button.down { display: inline }
div.edit button.delete { display: inline }
div.edit textarea.cellsource {
	border: 1px solid black;
	color: black;
	display: block;
	height: auto;
}

div textarea.cellsource { display: none }
div.sql textarea.cellsource { display: none }


div.wiki button.wiki { background-color: black; color: white; }
div.sql button.sql { background-color: black; color: white; }
div.sql textarea.cellsource {
	color: #004E8A;
	display: block;
	height: auto;
}
div.sql.hide textarea.cellsource { display: none }
div.sql.hide.edit textarea.cellsource { display: block }
div.data textarea.cellsource {
	color: #D05C08;
	height: auto;
}
div.data div.celloutput {
    font-family: Courier, "Courier New", monospace;
	color: #D05C08;
	height: auto;
	padding: 4px;
}

div.js textarea.cellsource {
	color: #D23228;
	height: auto;
}



code.js {
	font-family: Courier, "Courier New", monospace;
	font-size: 16px;
	color: #800;
	height: auto;
	padding: 4px;
	white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}

pre.error {
	white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}

div.ps textarea.cellsource {
	color: #00825A;
	height: auto;
}
div.edit textarea.cellsource {
	display: block;
	height: auto;
}
div.error {
	background-color: yellow;
	color: red;
}
div.data.edit button.import { display: inline; }
div.data button.data { background-color: black; color: white; }
div.js button.js { background-color: black; color: white; }
div.ps button.ps { background-color: black; color: white; }

div.cellconsole { 
	background-color:  yellow; 
}
	
div.tablefilter {
	width: auto;
	margin: auto;
	max-width: 100%; 
	overflow-x: auto;
}

p.link {
	text-align: right;
	width: 100%;
}

p.link a { 
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	color:black;
	padding: 4px;
	text-decoration: none;
}

p.link a:hover {
	background-color: black;
	color: white;
}

input[type="file"] {
    display: none;
}

input.sortable {
	width: 90%; 
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #444;
    font-size: 16px;
    padding: 2px;
}


tiny-ps {
	max-width: 100%;
	min-height: 360px;
	display: block;
}



div.svgurl {
		text-align: right;
}

div.canvasurl {
		text-align: right;
}

::part(url) {
	text-align: right;
}

::part(divsvg)  { 
	max-width: 100%;
	min-height: 360px;
	display: block;
	background-color: white;
}

::part(svgurl)  { 
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	color:black;
	padding: 4px;
	text-decoration: none;
}

::part(svgurla)  { 
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	color:black;
	padding: 4px;
	text-decoration: none;
}

::part(canvasurl)  { 
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	color: black;
	padding: 4px;
	text-decoration: none;
}

::part(canvasurlz)  { 
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	color: black;
	padding: 4px;
	text-decoration: none;
} 

::part(canvasurlm)  { 
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	color: black;
	padding: 4px;
	text-decoration: none;
} 


::part(rawurl)  { 
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	color: black;
	padding: 4px;
	text-decoration: none;
}

::part(pdfurl)  { 
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	color: black;
	padding: 4px;
	text-decoration: none;
}

::part(svgurl):hover{
	background-color: black;
	color: white;
}

::part(svgurla):hover{
	background-color: black;
	color: white;
}

::part(canvasurl):hover{
	background-color: black;
	color: white;
}

::part(canvasurlz):hover{
	background-color: black;
	color: white;
}

::part(canvasurlm):hover{
	background-color: black;
	color: white;
}


::part(rawurl):hover{
	background-color: black;
	color: white;
}

::part(pdfurl):hover{
	background-color: black;
	color: white;
}

.fullscreen { 
  position: absolute;
  top: 0px; left: 0px; bottom: 0px; right: 0px;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}
.fullscreen h2 { font-size: 36px; line-height: 48px; margin-bottom: 20px; }
.fullscreen h3 { font-size: 30px; line-height: 36px; margin-bottom: 20px; }
.fullscreen h4 { font-size: 24px; line-height: 30px; }
.fullscreen th { font-size: 20px; line-height: 20px; }
.fullscreen td { font-size: 20px; line-height: 20px; }
.fullscreen .cellsource {  width: calc(100% - 100px); padding-left: 50px; padding-right: 50px; height: calc(100% - 100px); font-size: 20px; line-height: 24px; } 

.fullscreen .celloutput {  width: calc(100% - 100px); padding-left: 50px; padding-right: 50px; height: calc(100% - 100px);} 
div.data.fullscreen .celloutput {  width: calc(100% - 100px); padding-left: 50px; padding-right: 50px; height: calc(100% - 100px);} 
.fullscreen .cellheader {  width: calc(100% - 100px); padding-right: 50px; padding-left: 50px; padding-bottom: 25px; } 
/* .fullscreen .fulloutput {   display: block; padding: 50px; } */
.fullscreen button.fullscreenclose { display : inline; }
.fullscreen button.fullscreenprevious { display : inline; }
.fullscreen button.fullscreennext { display : inline; }
.fullscreen button.edit { display: none }
.fullscreen ::part(divsvg) { height: 100%; width: 100%; }
.fullscreen #shadow-root a { visibility: hidden }
.fullscreen p.link { display: none }
.fullscreen ::part(svgurl)  { display:none; }
.fullscreen ::part(canvasurl)  { display:none; }
.fullscreen ::part(canvasurlz)  { display:none; }
.fullscreen ::part(canvasurlm)  { display:none; }
.fullscreen tiny-ps { width: 100%; height: 100%; }
.fullscreen code.js { font-size: 20px; line-height: 24px; }


@media print {
button { visibility: hidden; }
input { visibility: hidden; }
output a { visibility: hidden }
.cellsource { max-height: 99999px; border: none; }
.cellheader { display: none }
html { background-color: white }
header { display: none }
footer { display: none }
/* table {  	width: auto; max-width: 100% } */
#shadow-root a { visibility: hidden }
p.link { display: none }
::part(svgurl)  { display:none; }
::part(canvasurl)  { display:none; }
::part(canvasurlz)  { display:none; }
::part(canvasurlm)  { display:none; }

@page {
    counter-increment: page;
    counter-reset: page 1;
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
    }
}

}
